@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

 /* .list-group-item{
    display: flex; 
    justify-content: space-between;                                                     
    align-items: center;
    d-flex justify-content-between align-items-center
} */


.modal-body {
    position: absolute;
    top: 200px;
    left: 500px;
    height: 200px;
    width: 400px;
    color: rgb(11, 11, 11);
    background-color: rgba(0, 128, 0, 0.24);
    border-radius: 10px 10px 10px 10px;
}
.modal-content{
    background-color: white;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.modal-content:hover{
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.623);
 
    transition: all 0.5s ease-in-out;
}
.modal-content button{
    border-radius: 5px;
    color: black;
    /* background-color: orange; */
    height: 30px;
    width: 70px;
    padding: 2x 0px 10px 10px;
}